/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EBF8FF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2C5282;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2A4365;
}
